<ion-view>
    <ion-nav-bar class="bar-assertive nav-title-slide-ios7">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon nav-button" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-title>
            <p class="nav-title-text">About</p>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content class="app-content" has-bouncing="true">
        <div class="about-box">
            <h1 class="exonian-mobile">Mercury Mobile</h1>
            <h4 class="about-text">Developed by <span class="bold-inline">Bharat Arimilli</span></h4>
        </div>
    </ion-content>
</ion-view>

