<ion-view>
    <ion-nav-bar class="bar-assertive nav-title-slide-ios7">
        <ion-nav-back-button class="back-button">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="app-content" has-bouncing="true">
        <div class="article-image" style="{{ImageString}}" ng-if="Image"></div>
        <div class="content-area">
            <h1 class="article-header" ng-bind-html="Post.title"></h1>
            <p class="article-author">By {{Author}}</p>
            <p class="article-date">{{Post.date}}</p>
            <div class="article-content" ng-bind-html="Post.content"></div>
        </div>
    </ion-content>
</ion-view>

