<ion-view>
  <ion-nav-bar class="navbar-transparent">    
      
  </ion-nav-bar>
  <ion-content class="app-content app-headline" has-bouncing="true" lazy-scroll>
      <button class="button button-icon button-clear ion-navicon nav-button nav-button-top nav-headline" menu-toggle="left"></button>
      <div class="nav-bar-large image-background" image-lazy-src="{{Featured._postImage}}" image-lazy-background-image="true"></div>
      <div class="headline-box">
          <div class="overlay"></div>
          <div class="headline">
              <p class="headline-text" ng-click="goToHeadline(Featured)" ng-bind-html="FeaturedTitle"></p>
          </div>
      </div>
      <div ng-if="!error">
          <ion-refresher 
                         spinner="android"
                         pulling-icon="ion-android-arrow-down"
                         on-refresh="refresh()">
          </ion-refresher>
          <div class="recent-posts-band">
              <p class="recent-posts-header">RECENT POSTS</p>
          </div>
          <ion-list class="posts">
              <ion-item ng-repeat="Post in Posts" class="post-item" href="#/app/article/{{Post.id}}">
                  <div class="post-overlay"></div>
                  <div class="post-image" image-lazy-src="{{Post._postImage}}" image-lazy-background-image="true"></div>
                  <p class="article-title" ng-bind-html="Post.title"></p>                  
              </ion-item>
          </ion-list>
          <ion-infinite-scroll
                ng-if="checkData()"
                spinner="android"
                on-infinite="loadMore()">
          </ion-infinite-scroll>
      </div>
      <div ng-if="error" class="headline-height">
          <p class="error-message">Check your internet connection and try again.</p>
      </div>
  </ion-content>
</ion-view>
