<ion-view>
    <ion-nav-bar class="bar-assertive nav-title-slide-ios7">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon nav-button" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="app-content" has-bouncing="true">
        <div class="item item-input-inset search-box-wrapper">
            <label class="item-input-wrapper search-box">
                <input type="text" class="input-full-width" placeholder="Search" ng-model="searchTerm">
            </label>
            <button class="button button-small button-search" ng-click="search(searchTerm)">
                <i class="ion-search"></i>
            </button>
        </div>
        <ion-list class="posts-category">
            <div class="post-list-category">
                <ion-item class="post-item" ng-repeat="Post in Posts" href="#/app/article/{{Post.id}}" ng-if="Posts.length > 1">
                    <div class="post-overlay"></div>
                    <div class="post-image" image-lazy-src="{{Post._postImage}}" image-lazy-background-image="true"></div>
                    <p class="article-title" ng-bind-html="Post.title"></p>
                </ion-item>
                <p class="no-results" ng-if="Posts.length < 1">No results.</p>
            </div>
        </ion-list>
        <ion-infinite-scroll
                           ng-if="checkData()"
                           icon="ion-loading-c"
                           on-infinite="loadMore()">
      </ion-infinite-scroll>
    </ion-content>
</ion-view>

