<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="article?.image" class="article-image" [style.backgroundImage]="article?.getBackgroundImage()"></div>
  <div class="article-container">
    <p class="article-caption">{{article?.caption}}</p>
    <p class="article-category" [innerHTML]="article?.category"></p>
    <h1 class="article-title" [innerHTML]="article?.title"></h1>
    <p *ngIf="article?.author" class="article-author">By {{article?.author}} | {{article?.authorLabel}}</p>
    <p class="article-content" [innerHTML]="article?.content"></p>
  </div>

  <p *ngIf="error" class="error-message">Something went wrong there. Please try again later.</p>
</ion-content>
